<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class = "container">
	<div class = "row">
		<div class = "col-md-12">
			<div class = "col-md-9">
				<iframe src="https://www.google.com/calendar/embed?src=ns12jlh36qgkq3r69lf7rdd2t4%40group.calendar.google.com&ctz=America/Toronto" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
			</div>
			<div class = "col-md-3">
				<div class="fb-like-box" data-href="https://www.facebook.com/mcmasterSEC" data-colorscheme="light" data-show-faces="false" data-header="true" data-stream="true" data-show-border="true"></div>
				<br></br>
				<a class="twitter-timeline" href="https://twitter.com/SEClubMac" data-widget-id="552566760474705921"  width="250" height="300" >Tweets by @SEClubMac</a>
				<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
			</div>
		</div>
	</div>
	<div class = "row">
		<div class = "col-md-12">
		</div>
	</div>
</div>


