<div class = "container">
	<div class = "well">
		<div id = "test">An Empty Homepage</div>
		<h1>Announcements Ruby on Rails Test!</h1>
		<% @announcements.each do |announcement| %>
			<%= link_to announcement.title, announcement %>
			<br>
		<% end %>
	</div>
</div>
