		<div class="container">
			<div class="col-lg-12 heading">
				<h1>Meet The Executive Team</h1>
			</div>
			
			<div class = "row">
				<div class = "col-md-12" id="pics">
					<div class = "col-md-4">
						<div class = "col-md-12 ">
							<img src="http://placehold.it/240x240"/>
							<h3>Name</h3>
							<p>Position</p>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<img src="http://placehold.it/240x240"/>
							<h3>Name</h3>
							<p>Position</p>
						</div> 
					</div>					
					<div class = "col-md-4">
						<div class = "col-md-12">
							<img src="http://placehold.it/240x240"/>
							<h3>Name</h3>
							<p>Position</p>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<img src="http://placehold.it/240x240"/>
							<h3>Name</h3>
							<p>Position</p>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<img src="http://placehold.it/240x240"/>
							<h3>Name</h3>
							<p>Position</p>
						</div> 
					</div>
					<div class = "col-md-4">
						<div class = "col-md-12">
							<img src="http://placehold.it/240x240"/>
							<h3>Name</h3>
							<p>Position</p>
						</div> 
					</div>									


				</div>
			</div> 
		</div>
