<%= stylesheet_link_tag "content.css" %>
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1 style="text-align:center">About us</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img height ="400" width="575" src="/images/groupP.jpg"></img>
		</div>
		<div class="col-md-6">
			
			<p>Our mission is to encourage a student initiative in software-related projects and to promote fun events that integrate the students and faculty. It is an opportunity to gain experience and network with those in the field of Software Engineering and its related disciplines. </p>
			<p>

			If you are in Software or Computer Science and are looking to get involved or meet other people in your faculty, join the Software Engineering Club! We plan events and discuss topics that we feel are important for Software and Comp Sci students at McMaster. This term we already had a meet the profs night and a Boston Pizza all-you-can-eat pizza and wings night, and we’re currently planning for a games night in the upcoming weeks. Last year we even went paintballing with Tron, had a pool night, a pub night, a sushi dinner, and a bowling night. We also organize fun experiences and trips to conferences such as CUSEC (Canadian University Software Engineering Conference) in Montreal where students are able to meet with active professionals as well as learn about different software job opportunities in the future. Whether you want to be involved in planning events or just check out the SEClub, feel free to stop by! For more details related to the club, go to seclub.mcmaster.ca.
			</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1 style="text-align:center">Some of our events</h1>
		</div>
	</div>
	<div class="row">
		
		<div class="banner col-md-4" style="background: url(/images/pizza.png) no-repeat center center"/>
			<h2>Pizza Night</h2>
		</div>
		<div class="banner col-md-4" style="background: url(/images/workshops.png) no-repeat center center"/>
			<h2>Workshops</h2>
		</div>
		<div class="banner col-md-4" style="background: url(/images/profs.png) no-repeat center center"/>
			<h2>Meet The Profs</h2>
		</div>

	</div>


	
	<div class="row">
		<div class="banner col-md-4" style="background: url(/images/cusec.png) no-repeat center center"/>
			<h2>CUSEC</h2>	
		</div>
		<div class="banner col-md-4" style="background: url(/images/awards.png) no-repeat center center"/>
			<h2>Awards Night</h2>	
		</div>
		<div class="banner col-md-4" style="background: url(/images/games.png) no-repeat center center"/>
			<h2>Games Night</h2>	
		</div>
	</div>

</div>