<%= stylesheet_link_tag "content.css" %>
<div class="container">
	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1 style="text-align:center">Our Mission</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<img class="img-responsive" src="/images/groupP.jpg"/>
		</div>
		<div class="col-md-6">
			
			<p>Our mission is to encourage a student initiative in software-related projects and to promote fun events that integrate the students and faculty. It is an opportunity to gain experience and network with those in the field of Software Engineering and its related disciplines. </p>
			<p>

			If you are in Software or Computer Science and are looking to get involved or meet other people in your faculty, join the Software Engineering Club! We plan events and discuss topics that we feel are important for Software and Comp Sci students at McMaster. This term we already had a Meet the Profs Night, a Boston Pizza All-You-Can-Eat Pizza and Wings night, and we’re currently planning for more events in the upcoming weeks. Previous years we even went paintballing with Tron, had a pool night, a pub night, a sushi dinner, and a bowling night. We also organize fun experiences and trips to conferences such as CUSEC (Canadian University Software Engineering Conference) in Montreal where students are able to meet with active professionals as well as learn about different software job opportunities in the future. Whether you want to be involved in planning events or just check out the SEClub, feel free to stop by! For more details related to the club, go to seclub.mcmaster.ca.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-4"></div>
		<div class="col-md-4">
			<h1 style="text-align:center">Some of our events</h1>
		</div>
	</div>
	<!--Image Start-->
	<div class="row">
		
		<div onclick="toggleMe('#title1','#text1')" class="banner col-md-4" style="background: url(/images/pizza.png) no-repeat center center">
			<h2 id="title1">Pizza Night</h2> 
			<p class="hiddenText" id="text1">
			Held at Boston Pizza students can eat as much pizza they want. The club subsidizes the costs.
			</p>
		</div>
		
			
		
		<div onclick="toggleMe('#title2','#text2')" class="banner col-md-4" style="background: url(/images/workshops.png) no-repeat center center">
			<h2 id="title2">Workshops</h2>
			<p class="hiddenText" id="text2">
			The Software Engineering Club hosts workshops where students can learn new things.
			</p>
		</div>
	
		<div  onclick="toggleMe('#title3','#text3')" class="banner col-md-4" style="background: url(/images/profs.png) no-repeat center center">
			<h2 id ="title3">Meet The Profs</h2>
			<p style="font-size:85%;"class="hiddenText" id="text3">
			An annual event held early October or November where students get to meet their Software Engineering profs in a chill setting.
			</p>
		</div>
		

	</div>

	<!--Image end-->
	<!--Text starts-->

	<div class="row">
		<div onclick="toggleMe('#title4','#text4')" class="banner col-md-4" style="background: url(/images/cusec.png) no-repeat center center"/>
			<h2 id="title4">CUSEC</h2>	
			<p class="hiddenText" id="text4">
			Annual conference held in montreal, McMaster students attend this conference to learn and job search.
			</p>
		</div>
		<div onclick="toggleMe('#title5','#text5')" class="banner col-md-4" style="background: url(/images/awards.png) no-repeat center center"/>
			<h2 id="title5">Awards Night</h2>
			<p style="font-size:85%;" class="hiddenText" id="text5">
			Annual event held by the software engineering club where we provide students and our professors with awesome awards and food.
			</p>	
		</div>
				
		<div onclick="toggleMe('#title6','#text6')" class="banner col-md-4" style="background: url(/images/games.png) no-repeat center center"/>
			<h2 id ="title6">Games Night</h2>	
			<p class="hiddenText" id="text6">
			Tired of studying, wanna hangout? We relax in second term prior to midterms season. Chill-out have fun
			</p>
		</div>
				
	</div>
</div>
<!--Script for toggling-->
<script type="text/javascript">
	function toggleMe(title,text) {
		$( title ).toggle( "slow", function() {
		// Animation complete.
		});
		$( text ).toggle( "slow", function() {
		// Animation complete.
		});
	}
</script>> 