<%= stylesheet_link_tag "content.css" %>
<div class="container">

	<div class="row">
		<div class="col-lg-12"><!--Title of the page-->
			<h1 style="text-align:center;">Image Gallery</h1>
		</div>
	</div>
	<div class="row">
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img1">
			   <img class="img-responsive" src="/images/gallery/arka.jpg"/>
			</a>
		</div>

		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img2">
			   <img class="img-responsive" src="/images/gallery/awards.jpg"/>
			</a>
		</div>
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img3">
			   <img class="img-responsive" src="/images/gallery/cusec.jpg"/>
			</a>
		</div>
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img4">
			   <img class="img-responsive" src="/images/gallery/cusecinfo.jpg"/>
			</a>
		</div>
	</div>
	<div class="row">
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img5">
			   <img class="img-responsive" src="/images/gallery/cusecinfo2.jpg"/>
			</a>
		</div>
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img6">
			   <img class="img-responsive" src="/images/gallery/games.jpg"/>
			</a>
		</div>
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img7">
			   <img class="img-responsive" src="/images/gallery/pizza.jpg"/>
			</a>
		</div>
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img8">
			   <img class="img-responsive" src="/images/gallery/pizza1.jpg"/>
			</a>
		</div>
	</div>
	<div class="row">
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img9">
			   <img class="img-responsive" src="/images/gallery/pizza2.jpg"/>
			</a>
		</div>
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img10">
			   <img class="img-responsive" src="/images/gallery/pizza5.jpg"/>
			</a>
		</div>
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img11">
			   <img class="img-responsive" src="/images/gallery/profs.jpg"/>
			</a>
		</div>
		<div style="margin-bottom:1em;" class="col-lg-3 col-md-4 col-xs-6 thumb">
			<a href="#img12">
			   <img class="img-responsive" src="/images/gallery/profs2.jpg"/>
			</a>
		</div>
	</div>

</div>
	<!--OPened modals-->
	<div id="img1" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/arka.jpg"></img>
	        <h2>

	            Arka Ganguli
	        </h2>
	        <p class="modalText">
	            VP Informations, Arka Ganguli attending meet the profs Night
	        </p>
	        <a href="#img12">Previous</a>
	        <a href="#img2">Next</a>
	   	</div>
	</div>
	<div id="img2" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/awards.jpg"></img>
	        <h2>

	            Awards Night
	        </h2>
	        <p class="modalText">
	            Rakesh Mistry and Sahajameet Butta MC'ing for the event
	        </p>
	        <a href="#img1">Previous</a>
	        <a href="#img3">Next</a>
	   	</div>
	</div>
	<div id="img3" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/cusec.jpg"></img>
	        <h2>

	            CUSEC 2012
	        </h2>
	        <p class="modalText">
	            Students attending booths at CUSEC in the hopes to learn and meet new people
	        </p>
	        <a href="#img2">Previous</a>
	        <a href="#img4">Next</a>
	   	</div>
	</div>
	<div id="img4" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/cusecinfo.jpg"></img>
	        <h2>

	            CUSEC 2015 info session
	        </h2>
	        <p class="modalText">
	            Students preparing for the CUSEC 2015
	        </p>
	        <a href="#img3">Previous</a>
	        <a href="#img5">Next</a>
	   	</div>
	</div>
	<div id="img5" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/cusecinfo2.jpg"></img>
	        <h2>

	            CUSEC 2015 info session 2
	        </h2>
	        <p class="modalText">
	            VP External Peter Hoang, providing information on CUSEC
	        </p>
	        <a href="#img4">Previous</a>
	        <a href="#img6">Next</a>
	   	</div>
	</div>
	<div id="img6" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/games.jpg"></img>
	        <h2>

	            Games Night
	        </h2>
	        <p class="modalText">
	            Software Engineering Club's Annual Games Night, come out and Play!
	        </p>
	        <a href="#img5">Previous</a>
	        <a href="#img7">Next</a>
	   	</div>
	</div>
	<div id="img7" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/pizza.jpg"></img>
	        <h2>

	            Boston Pizza all you can eat
	        </h2>
	        <p class="modalText">
	            Students enjoying the all you can eat pizza....YUM!
	        </p>
	        <a href="#img6">Previous</a>
	        <a href="#img8">Next</a>
	   	</div>
	</div>
	<div id="img8" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/pizza1.jpg"></img>
	        <h2>

	            The Cake is a lie
	        </h2>
	        <p class="modalText">
	            MEH
	        </p>
	        <a href="#img7">Previous</a>
	        <a href="#img9">Next</a>
	   	</div>
	</div>
	<div id="img9" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/pizza2.jpg"></img>
	        <h2>

	            Pizza night again?
	        </h2>
	        <p class="modalText">
	            Software Engineering President saif enjoying pizza with friends.
	        </p>
	        <a href="#img8">Previous</a>
	        <a href="#img10">Next</a>
	   	</div>
	</div>
	<div id="img10" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/pizza5.jpg"></img>
	        <h2>

	            Compilation pizza
	        </h2>
	        <p class="modalText">
	            A compilation of pictures the best of all foods
	        </p>
	        <a href="#img9">Previous</a>
	        <a href="#img11">Next</a>
	   	</div>
	</div>
	<div id="img11" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/profs.jpg"></img>
	        <h2>

	            Profs
	        </h2>
	        <p class="modalText">
	            All the profs and the software engineering club execs Hangout.
	        </p>
	        <a href="#img10">Previous</a>
	        <a href="#img12">Next</a>
	   	</div>
	</div>
	<div id="img12" class="modalDialog">
	    <div>
	        <a class="close" title="Close" href="#close">
	        X
	        </a>
	       <img class="modalImg" src="/images/gallery/profs2.jpg"></img>
	        <h2>

	            Waitlisted
	        </h2>
	        <p class="modalText">
	            The line up for meet the prof night at McMaster University.
	        </p>
	        <a href="#img11">Previous</a>
	        <a href="#img1">Next</a>
	   	</div>
	</div>

		
	